# Arquivos de Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos do ambiente virtual
venv/
env/
.env
*.env

# Configurações e chaves secretas
settings_local.py
*.sqlite3

# Arquivos de log
*.log

# Cache e compilados
*.pot
*.pyc
*.pyo
*.pyd
*.mo

# Diretórios do Django
media/
staticfiles/
db.sqlite3

# IDEs
.idea/
.vscode/
*.swp
